<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.pwc.imessage-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/zsh</string>
    <string>/Users/patrickconway/Documents/src/imessage-backup/imessage-backup.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>12</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/patrickconway/imessage-backup/log_file.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/patrickconway/imessage-backup/log_file.log</string>
  <key>WakeInterval</key>
  <integer>60</integer>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
